<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Details</title>
    <link rel="stylesheet" href="/details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="box">
        <h1>Provide Answer Here</h1>
    </div>
    <iframe class="ani" src="https://lottie.host/embed/e405a0b9-5d98-4529-a515-162c2c14e87d/e2h8AWHZjq.json"></iframe>
    <div class="container">
       
        <a href="/dashboard"><i class="fa-solid fa-arrow-left back"></i></a>
        <div class="details content">
            <h2 class="question-title"><%=question.title%></h2>
            <p class="question-description"><%=question.description%></p>
            <p class="meta">- Posted by <%=question.postedBy.username%> on <%=question.datePosted.toLocaleDateString()%></p>
        </div> 

       
        <form class="form" action="/answer" method="post">
            <input type="hidden" name="questionId" value="<%= question._id %>">
            <textarea class="textarea" rows="5"  name="answerText" placeholder="Your answer" required></textarea>
            <input class="submit-btn"  class="btn" type="submit" value="Submit Answer">
        </form>
    </div>
</body>
</html>
